<div class="menubar-foot-panel">

    <span class="opacity-75">
        &copy;Tech Farmer Multipurpose Cooperative Society @DateTime.Now.Year All rights reserved.
    </span>

    <span class="opacity-75">Designed by <a href="http://www.capableminds.com.ng">CapableMinds</a> </span>
</div>
