<footer id="footer" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>TFMCooperative Jos, PLateau State</p>
                <p>07038709332, 090ebuka</p>
                <p><a href="mailto:mail@example.com" style="color: #4BAFD3;">support@TFMCooperative.com</a></p>
            </div>
            <div class="col-md-4">
                <p>Created by <a href="#"style="color: #4BAFD3;">ChrisB - </a> PoweredBy <a href="https://www.capableminds.com.ng" title="Capable Minds" style="color: #4BAFD3;">Capable Minds</a></p>
            </div>
            <div class="col-md-4">
                <p>
                    <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/"></a>
                    <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/"></a>
                    <a class="fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                    <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
