@{
    Layout = "~/Views/Shared/_FrontEnd.cshtml";

    ViewBag.Title = "About Us Page";
}
<div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <div class="row">
                <div class="col-md-4">

                    @*<div class="row">
                        <div class="col-md-2">
                            <h3><span class="about-square text-center"></i>2</span></h3>
                        </div>
                        <div class="col-md-10">
                            <h3 class="text-primary" style="padding-top: 15px;"></h3>
                            <p class="text-justify">

                            </p>
                        </div>
                    </div>*@
                    @*<div class="row">
                        <div class="col-md-2">
                            <h3><span class="about-square text-center"></i>2</span></h3>
                        </div>

                    </div>*@

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-primary" style="font-weight: bold">#Word</h2>
                            <blockquote class="inner-block">
                                <span class="fa fa-2x fa-quote-right"></span>
                                <p class="block-text">
                                    There are lots of benfits and struggles in life... Thus you benefit of the things you do know about
                                    and struggle somewhat of the things(info) you know not about.

                                    Msg- Be in the right sect that you may know.
                                </p>
                                <hr>
                                <div>
                                    <p class="pull-left">Msg- Be in the right sect that you may know.</p>
                                    <p class="pull-right">
                                        <span class="badge"></span>&nbsp; &nbsp;<span class="fa fa-heart"></span>
                                    </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <h2 class="text-primary" style="font-weight: bold">A Few Words About Us</h2>
                    @*<h3 class="text-primary">Why do we use it?</h3>*@
                    <p class="text-justify">
                        Tech Farmer multipurpose Cooperative Society.
                        Tech farmers multipurpose cooperative society, We are established as a
                        registered cooperative society under the Plateau state ministry of commerce and industry and licensed under the Plateau
                        state internal revenue service .

                        <br /><br /> our aim to help in building the entrepreneurship spirit in the country and also
                        supporting growing business. The company is committed to delivering high
                        valued solutions to entrepreneurs and linking them to business opportunities, profitable ventures and money-making ideas.
                        .
                    </p>
                      <div style="padding-top:20px; padding-bottom:20px;">
                        <h2 class="text-primary" style="font-weight: bold">Our vision</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-responsive" src="images/image1.jpg" />

                            <p class="text-justify">
                                Our vision is to inspire, motivate and encourage people, especially young ones to start
                                and grow their own business, let them know that they can achieve whatever thing they desire if they try.
                                <br />
                                We also intend to be among the big pioneers and facilitators of entrepreneurship in Nigeria..
                            </p>
                        </div>
                    </div>


                    <div class="row" style="padding-top: 20px;">
                        <h4 class="text-primary" style="padding-left: 13px;font-weight:bold">Mission Statement</h4>
                        <div class="col-md-4">
                            <img class="img-responsive" src="images/image4.jpg" />
                            <h4 class="text-primary">M1.</h4>
                            <p class="text-justify">
                                M2. Help grow at least 5 businesses or ideas of individuals or groups by availing them the right advisory and financial
                                support through Loan Accessment schemes ,  Grants scheme (Toni Elumelu Foundation) etc and investment programmes.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="img-responsive" src="images/image5.jpg" />
                            <h4 class="text-primary">M2.</h4>
                            <p class="text-justify">
                                Also to build ourselves into fine and useful materials ,
                                useful for the growth and development of our great country Nigeria at large.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="img-responsive" src="images/image6.jpg" />
                            <h4 class="text-primary">M3.</h4>
                            <p class="text-justify">
                                Finally To let you and I know that we can do all things through Christ who strengthen us. By God’s Grace
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
