@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}

<div>

    @Html.Partial("FrontEndPartials/_Carousel")
</div>



<div class="container-home">
    <div class="container">
        <div class="page-header" id="home">
            <div class="row">
                <div class="col-md-4">
                    <h1>WELCOME</h1>
                    <h4>To Our Company</h4>
                    <br />
                    <img class="img-responsive" src="~/FrontEnd/images/image3.jpg" />
                    <br />
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-4">
                    <h2>Good Solutions For Your Business!</h2>
                    <br />
                    <h4 class="text-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;What is Lorem Ipsum?</h4>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <br />
                    <h4 class="text-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Where does it come from?</h4>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <br />
                    <h4 class="text-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Where can I get some?</h4>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <blockquote class="inner-block">
                                <span class="fa fa-2x fa-quote-right"></span>
                                <p class="block-text">If it is on Internet it must be true.</p>
                                <hr>
                                <div>
                                    <p class="pull-left">Albert Einstein</p>
                                    <p class="pull-right">
                                        <span class="badge">69</span>&nbsp; &nbsp;<span class="fa fa-heart"></span>
                                    </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <div class="row text-center">
                        <h3 class="text-center text-primary">NEWSLETTER</h3>
                        <p class="text-center">Use this section to display subscription form of any WordPress plugin or newsletter service</p>
                        <br />
                    </div>
                    <div class="row text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <input type="text" class="form-control" placeholder="Enter your email..." />
                            <br />
                            <button class="button-more-primary btn" type="button" style="margin: 10px;">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>