
<div class="partialTop">

<h2> Registration Successful On the platform</h2>
<h3> If you wish to apply loan Finish Up Registration</h3>

<button  class="btn btn-default">@Html.ActionLink("Finish Registration","Create","Member")</button>

</div>