
@{
    ViewBag.Title = "PaymentVierificationStatus";
    Layout = "~/Views/Shared/_GentellaAdminLayout.cshtml";
}

<h2>Payment Vierification Status</h2>


<h3 style="color:darkred"> @ViewBag.Message</h3>



<br /> <br />

<h4 style="color:darkgreen"> Signed - TFMCooperative Society Mgt</h4>
<br /> <br/><br/>

<button> <a href="@Url.Action("Create","Payments")"> Submit Pament Now</a> </button>

