
@{
    ViewBag.Title = "Payment Vierification Status";
    Layout = "~/Views/Shared/_GentellaAdminLayout.cshtml";
}
<br />
<h2>@ViewBag.Title</h2>

<br />
<h3 style="color:darkred"> @ViewBag.Message</h3>


<br /> <br />

<h4 style="color:darkgreen"> Signed - TFMCooperative Society Mgt</h4>
<br />

 <a href="@Url.Action("Create","Payments")" style="text-decoration:underline; font-size:large"> Submit Pament Now</a> 

